<div>
    <h1>About ABC</h1>
    <p>
        Zion Chapel Missionary Baptist Church had its beginning in 1904 when a group of people decided they needed a church and school for themselves and their children. They purchased one acre of land from Mr. A.C. Gregory. Bro. George Starks, Bro. Tommy Henry, and Bro. Watt Henry were the first deacons.
The first pastor was Rev. Jeff Parks. Other early pastors included: Rev. J.C. Hughes, Rev. Tom Cook, Rev. Tom Robertson, and Rev. Monroe Bigham. Rev. Bigham laid the first cornerstone in July of 1929. Rev. George Plant and Rev. Jack Hall succeeded him.

In 1932, Rev. M.A. Morrow was elected pastor and the membership began to grow rapidly. He changed the name of the church from "Little Zion" to Zion Chapel. His pastorship lasted eight years. Other pastors included: Rev. Robert Smith, Rev. H.W. Duvall, Rev. W.C. Keys, and Rev. W.L. Echols. In 1956, Rev. W.H. Ratliff was elected and his pastorship lasted nine years.

In 1965, the church elected Rev. John McDonald. He pastored fourteen years. In the fall of 1979, Rev. Arthur Townsend was elected and pastored twelve years. Under his administration a new church building was erected. Rev. Lee R. Howell assumed interim pastorship in 1991. In June of 1991, Rev. Jimmy Stewart was elected, and under his administration the church enlarged with the building of new classrooms and a new fellowship hall. In 1996, our present shepherd, Rev. Caleb R. Williams, was called and under his direction we have grown enormously spiritually. We look forward to a long and bright future under his leadership.
    </p>
    <div><img src="../../../assets/images/family-portait-2.jpg" alt="" class="mx-auto d-block" width="300" height="350" style="object-fit: contain;"></div>
    <footer class="blog-footer text-center">
        <p>&copy; 2024 by Antioch Baptist Church</p>
        <p>
          <a routerLink="/home">Back to Home</a>
        </p>
    </footer>
</div>