<div class="container">
    <app-navbar></app-navbar>
    <hr>
</div>
<div class="row services-section text-center">
    <div class="col">
        <h1 class="services-title text-center">Services</h1>
        <p>Weekly Opportunities for Christian growth and development at Antioch Baptish Church include the following:</p>
        <h6><span>Sunday Church School...................................................9:30 A.M. Sundays</span></h6>
        <h6><span>Morning Worship Service...................................................10:15 A.M. Sundays</span></h6>
        <h6><span>Communion Services...................................................First Sundays</span></h6>
        <h6><span>Bible Study...................................................6:30 P.M. Wednesdays</span></h6>
        <h6><span>Choir Rehearsals...................................................7:15 P.M. Tuesdays</span></h6>
        <h6><span>Drum Lessons...................................................2:00 P.M. Saturdays</span></h6>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <img class="mx-auto d-block" src="../../../assets/images/photo-of-child-reading-holy-bible-935944.jpg" alt="" height="400">
    </div>
  </div>