<body>
    <div class="container">
        <app-navbar></app-navbar>
    </div>
 
    <div class="container bg-container">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.044901320231!2d-98.48110842552296!3d33.91424392500666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8652df7b7e9f4c07%3A0x6635c6fb8d59267a!2sAntioch%20Baptist%20Church!5e0!3m2!1sen!2sus!4v1708747027671!5m2!1sen!2sus" width="100%" height="650px" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="contact-form">
            <h1 class="title">Contact Us</h1>
            <form action="">
                <input type="text" name="name" placeholder="Your Name" />
                <input type="email" name="e-mail" placeholder="Your E-mail Adress" />
                <input type="tel" name="phone" placeholder="Your Phone Number"/>
                <textarea name="text" id="" rows="8" placeholder="Your Message"></textarea>
                <a class="btn-send btn btn-primary text-center" href="mailto:antioch.baptistchu@att.net">Send</a>
            </form>
            <br>
            <!--  -->
        </div>

        <div id="footer">
            <div class="container text-center">
                <div class="text-muted">
                    <h2 class="subtitle">Our Information</h2>
                    <h4 class="subtitle">Antioch Baptist Church</h4>
                    <ul>
                        <li><i class="fa-solid fa-diamond-turn-right"></i><span>601 Bonner St, Wichita Falls, TX 76301</span></li>
                        <li><i class="fa-solid fa-phone"></i><span>(940)766-2577</span></li>
                        <li><i class="fa-solid fa-envelope"></i><span>antioch.baptistchu@att.net</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>