
.bg-container {
  background: #0a237f no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 900px;
  height: 650px;
  margin: 5% auto;
  position: relative;
}
.container .map {
  width: 45%;
  float: left;
}

.container .map iframe{
  padding: 20px;
}
.container .contact-form {
  width: 53%;
  margin-left: 2%;
  float: left;
}
.container .contact-form .title {
  font-size: 2.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #242424;
  margin: 5% 8%;
}
.container .contact-form .subtitle {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 4% 5% 8%;
}
.container .contact-form input,
.container .contact-form textarea {
  width: 330px;
  padding: 3%;
  margin: 2% 8%;
  color: #242424;
  border: 1px solid #B7B7B7;
}
.container .contact-form input::placeholder,
.container .contact-form textarea::placeholder {
  color: #242424;
}
.container .contact-form .btn-send {
  background: #efa03a;
  width: 180px;
  height: 60px;
  color: #FFFFFF;
  font-weight: 700;
  margin: 2% 8%;
  padding-top: 4%;
  border: none;
}

.container .contact-form .btn-send:hover{
  background-color: gray;
}

i{
  margin-right: 10px;
}

.btn-send{
  text-align: center;
  padding: 15px 0 15px 0;
}

.info-box{
  width: 100vw;
}

.info-points{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  align-items: start;
  padding-left: 0;
}

.info-points p{
  width: 50%;
  position: relative;
  left: 35%;
}

.subtitle{
  margin-top: 30px;
}

 /* Responsive Design */
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {

    .bg-container{
      width: 400px;
    }
    .container .contact-form .title {
      font-size: 1.5em;
    }

    .container .contact-form input,
  .container .contact-form textarea {
    width: 90%;
  }

  .container .contact-form textarea {
    height: 225px;
  }

  #map-frame{
    height: 400px !important;
    position: relative;
    top: 35px;
  }

    .map{
      max-width: 200px;
      height: 300px;
    }

    .container .contact-form .btn-send {
      width: 300px;
      margin: 0;
      padding: 20px;
      position: relative;
      left: -65%;
    }

    .info-points p {
      width: 50%;
      position: relative;
      left: 28%;
      font-size: 0.8rem;
      line-height: 0;
  }

  .info-points p:nth-child(1){
    line-height: 1;
  }

  .info-points p:nth-child(3){
    position: relative;
    bottom: 15px;
  }
  
  #footer .container div, .subtitle{
    color: white;
  }
  }