<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 link-secondary" routerLink="/home">Home</a>
        <a class="p-2 link-secondary" routerLink="/about">About ABC</a>
        <a class="p-2 link-secondary" href="#">Services</a>
        <a class="p-2 link-secondary" href="#">Ministries</a>
        <a class="p-2 link-secondary" href="#">Events</a>
        <a class="p-2 link-secondary" href="#">News</a>
        <a class="p-2 link-secondary" routerLink="/contact-us">Contact Us</a>
    </nav>
</div>