/* Header */

a{
  text-decoration: none !important;
}

a:hover, .logo-facebook:hover{
  color: #efa03a;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Roboto", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
  font-weight: 500;
  color: #454b89 !important;
}

.fa-heart{
  margin-right: 10px;
}

.logo-facebook{
  color: #6c757d !important;
}

.fa-facebook{
  padding-left: 80px;
}

.blog-header-logo:hover {
  text-decoration: none;
}

/* Navbar */
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  }

  /* Responsive Design */
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  #main-div{
    width: 75vw;
  }
  a{
    font-size: 0.7rem;
  }

  .blog-header-logo {
    font-size: 1.25rem;
    position: relative;
    left: 55px;
  }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}